body {
  margin: 0;
  padding: 0;
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content:center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration:none;
  color:#78350F;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: .25em 0; 
}
.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.title{
  grid-column:1/-1;
  text-align: center;
}
.container {
  display: grid;
    grid-template-columns: 1fr;
  
}

img {
  max-width:100%;
  display: block;
}
.recent-article{
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 0 1em;
  grid-template-areas: 
      "image image"
      "title date"
      "body body"
      "read-more .";
}

.article-image     { grid-area: image }
.article-title     { grid-area: title }
.article-body      { grid-area: body }
.article-read-more { grid-area: read-more }
.article-date { 
  grid-area: date; 
  justify-self: end;
}

.article-date,
.article-title{
  align-self: baseline;
}

.hero-image{
  background-image: url(/images/hero-image.jpg);
 margin-bottom: 2em;
 background-size: cover;
  color:bisque;
  margin-bottom: 2em;
}