body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.title {
  font-size: 0.847rem;
  font-family: 'Roboto', sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content:flex-end;
  text-align: right;
}

header {
  display: flex;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration:none;
  color:#78350F;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: .25em 0; 
}
.container {
  width: 90%;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1em;
}
img {
  max-width:100%;
}
.recent-article{
  margin-bottom: 2em;
  padding: 1em;
}

.article-date,
.article-title{
  align-self: baseline;
}

.hero-image{
  grid-column: 1 / -1;
  background-image: url(/images/hero-image.jpg);
 margin-bottom: 2em;
 font-family: 'IBM Plex Sans', sans-serif;
 background-size: cover;
  color:white;
  margin-bottom: 2em;
  min-height:400px;
}
.single-blog{
  grid-column:1/-1;
}
.profile-image{
  width: 80%;
}
.post-date{
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: 'IBM Plex Sans', sans-serif;
font-size: 0.75rem;
font-style: normal;
font-weight: 400;
padding-bottom:0;
margin-bottom: 0;

}
.view-more{
  grid-column: 1 / -1;
}


@media (max-width: 675px) {
  .container{
    display:grid;
    grid-template-columns:1fr;
  }
}


.view-button{
  width: 100%;
  border: none;
  background-color: #F59E0B;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}
p {
  margin: 0;
  padding-top:1rem;
  padding-bottom:1rem;
}
.hero-title{
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 700;
}

.article-title{
  padding:0;
  margin:0;
}

footer{
  grid-column: 1 / -1;
  text-align: center;
}